# do not rely on windows users to remember to set core.autocrlf=true
* text=auto

# force lf endings for scripts
*.sh eol=lf
*.py eol=lf
script/lint eol=lf

# force lf endings for yaml
*.yaml eol=lf

# force encoding for json
*.json encoding=utf-8
